
.dog {
	height: 300px;
	width: 210px;
	margin: 10px;
	background-color: #4682B4;
	color: white;
	padding: 5px;



} 

#bark {
	color: #A9A9A9;
}

#neededScore, #yourScore, #wins, #losses {
	color: #B0C4DE;
}


.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.col-lg-3 {
	padding: -15px;
	
}

