.dog {
	height: 300px;
	width: 250px;
	margin: 10px;
	background-color: #04139E;
	color: white;
	padding: 5px;


} 

#bark {
	color: #A9A9A9;
}

#neededScore, #yourScore, #wins, #losses {
	color: #B0C4DE;
}